
.header-content::before {
    display: none;
}

.header-content::after {
    display: none;
}

.header-content {
    justify-content: space-between;
}


.header {
    background: url('../img/sub-about-back.jpg') no-repeat;
    background-size: cover;
    height: 580px;
}

.header::before {
    content: "";
    background: url('../img/about-banner.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.header-title h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 98%;
    letter-spacing: 0.14em;
    color: #fff;
}

.header-content {
    padding: 0;
}

.header-content span {
    width: 120px;
    height: 5px;
    background-color: #00b5ad;
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
}

.sub-about {
    background: #141414;
    position: relative;
    padding-bottom: 20px;
}


.sub-about-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 0 0 0;
}

.sub-about-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.sub-about-content:nth-child(1) img {
    position: absolute;
    right: 0px;
    top: -230px;
    object-fit: contain;
    max-width: 55%;
}

.sub-about-content:nth-child(2) {
    margin: 200px 0;
}

.sub-about-content:nth-child(2) img {
    object-fit: contain;
    z-index: 10;
}

.sub-about-content:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0px;

    width: 535px;
    height: 130px;
    
    background: #363636;
    z-index: 1;
}

.sub-about-bottom {
    background: url('../img/about-concrete.jpg') no-repeat;
    background-size: cover;
}

.sub-about-bottom-container {
	display: flex;
	margin-left: 150px;
	gap: 40px;
	max-width: 100%;
}

.sub-about-bottom-container {
    padding: 60px 0;
}

.sub-about-context {
    max-width: 43%;
}

.sub-about-content p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;

    color: #FFFFFF;
}   

.sub-about-content p {
    width: 44%;
}

.sub-about-context p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;
    color: #ffffff;
}

.sub-about-slider {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    padding-left: 100px;
    transform: translateY(-50%);
}

.sub-about-arrows {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.sub-about-gallery {
    position: relative;
    width: 900px;
}

.sub-about-gallery img {
    width: 428px;
    height: 396px;
    margin: 0;
}

.footer {
    background: #141414;
}


@media (max-width: 1500px) {
    .sub-about-container {
        max-width: 95%;
    }
}

@media (max-width: 1210px) {
    .sub-about-gallery img {
        width: 328px;
        height: auto;
        margin: 0;
    }
}


@media (max-width: 1190px) {
    .sub-about-content:nth-child(1) img {
        position: absolute;
        right: 0px;
        top: -158px;
        object-fit: contain;
        max-width: 55%;
    }
    
}

@media (max-width: 1020px) {
    .header-title h2 {
        font-size: 40px;
    }
    .sub-about-content p {
        width: 100%;
    }
    .sub-about-content:nth-child(1) img {
        position: relative;
        max-width: 65%;
        top: 0%;
        margin-top: 20px;
    }
    .sub-about-content:nth-child(1) {
        flex-direction: column;
        align-items: center;
    }
    .sub-about-content:nth-child(2) {
        position: relative;
        flex-direction: column-reverse;
        align-items: center;
        margin: 70px 0;

    }
    .sub-about-content:nth-child(2) img {
        max-width: 82%;
    }
    .sub-about-content:nth-child(2)::after {
        left: 15%;
        width: 69%;
        height: 130px;
    }
    .sub-about-context {
        max-width: 100%;
    }
    .sub-about-bottom-container {
        flex-direction: column;
    }

    .sub-about-bottom-container {
        padding: 60px 0;
        margin: 0 auto;
        max-width: 95%;
        flex-direction: column;
    }
    .sub-about-slider {
        position: relative;
        top: 0%;
        right: 0%;
        transform: translateY(0%);
    }
    .sub-about-gallery {
        max-width: 1000px;
    }
    .sub-about-gallery img {
        width: 328px;
        height: auto;
        margin: 0;
    }
}