
.header-content::before {
    display: none;
}

.header-content::after {
    display: none;
}

.header-content {
    justify-content: space-between;
}


.header {
    background: url('../img/sub-about-back.jpg') no-repeat;
    background-size: cover;
    height: 580px;
}

.header::before {
    content: "";
    background: url('../img/about-banner.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

p {
    max-width: 573px;
}

.sub-about {
    background: #141414;
    position: relative;
    padding-bottom: 20px;
}


.sub-about-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 80px 0 0 0;
}

.sub-about-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sub-about-content:nth-child(1) {
    margin: 100px 0;
}

.sub-about-content:nth-child(1) img {
    position: absolute;
    right: 0px;
    top: -230px;
    object-fit: contain;
    max-width: 666px;
}

.sub-about-content:nth-child(2) {
    margin: 200px 0;
}

.sub-about-content:nth-child(2) img {
    object-fit: contain;
    z-index: 10;
}

.sub-about-content:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0px;

    width: 535px;
    height: 130px;
    
    background: #363636;
    z-index: 1;
}

.sub-about-bottom {
    background: url('../img/about-concrete.jpg') no-repeat;
    background-size: cover;
}

.sub-about-bottom-container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.sub-about-bottom-container p {
    padding: 150px 0 175px 0;
    width: 500px;
}


.sub-about-content p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;

    color: #FFFFFF;
}   

.sub-about-context p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;
    color: #ffffff;
    max-width: 573px;
}

.sub-about-slider {
    position: absolute;
    max-width: 100%;
    overflow-x: hidden;
    padding-left: 100px;
    top: -10%;
    right: -10%;
    display: flex;
}

.sub-about-arrows {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.sub-about-gallery {
    position: relative;
    width: 900px;
}

.sub-about-gallery img {
    width: 428px;
    height: 396px;
    margin: 0;
}


