
.header {
    background: none;
    position: sticky;
    top: 0;
}


.video video {
    position: absolute;
    top: 0;
    left: 0;
    height: 584px;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.sub-laser-container {
    max-width: 1400px;
    margin: 0 auto;
}

.sub-laser {
    position: relative;
    background: url('../img/sub-laser-concrete.jpg');
}


.sub-laser-top {
    position: relative;
    background: url('../img/sub-laser-concrete.jpg');
    padding: 100px 0px;
}

.sub-laser-top-content {
    max-width: 1400px;
    margin: 0 auto;
}

.sub-laser-video {
    max-width: 1400px;
    margin: 0 auto;
    padding: 200px 0 0 0;
    text-align: center;
}

.sub-laser-video video {
    height: 714px;
    width: 1316px;
}

.sub-laser-top {
    padding: 200px 0;
}

.sub-laser-top-content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sub-laser-top-content p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;
    color: #FFFFFF;

    max-width: 445px;
}

.sub-laser-top-content img {
    position: absolute;
    top: -325px;
    right: 0;
}

.grid-item-image {
    margin-bottom: 10px;
}


.sub-laser-top::after {
    content: "Qualidade e Rapidez";
    position: absolute;

    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 85.5%;
    text-transform: uppercase;
    
    mix-blend-mode: normal;
    opacity: 0.4;
    
    right: 121px;
    bottom: -103px;
    width: 582px;
    
    color: #FFFFFF;
}


.sub-laser-grid {
    padding: 100px 0px;
}