
.header {
    position: relative;
    background: url('../img/sub-production-back.jpg') no-repeat;
    background-size: cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 40%;
    left:   50%;
    width: 50%;
    height: 100%;
    background: url('../img/production-banner.png');
    background-size: contain;
    opacity: 0.4;
}

.sub-production {
    position: relative;
    background: url('../img/sub-production-concrete.jpg') no-repeat;
    background-size: cover;
    z-index: 20;
}

.sub-production-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 200px 0;
}

.sub-production-title {
    display: flex;
    justify-content: space-between;
}

.sub-production-title p {
    max-width: 450px;
}

.sub-production-title p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;

    color: #FFFFFF;
}

.sub-production-title span {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 85.5%;
    mix-blend-mode: normal;
    opacity: 0.4;
    display: block;
    color: #FFFFFF;
    max-width: 710px;
}

.sub-production-card {
    background: #313131;
    padding: 50px;
    text-align: center;
    max-width: 425px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.sub-production-card h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 154.5%;
    text-align: center;

    color: #FFFFFF;
}

.sub-production-grid {
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 200px 0 0 0;
}

.sub-production-grid::after {
    content: "";
    width: 120px;
    height: 5px;
    background-color: #00b5ad;
    position: absolute;
    top: 160px;
    left: 0;
    z-index: 1;
}

.sub-production-grid::before {
    content: "";
    width: 120px;
    height: 5px;
    background-color: #00b5ad;
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 1;
}