

.header {
    background: url('../img/special-header-back.jpg') no-repeat;
    height: 580px;
}

.header-title {
    max-width: none;
}

.header-title h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 98%;
    letter-spacing: 0.14em;
    color: #fff;
}

.header-content {
    padding: 0;
}

.header-content span {
    width: 120px;
    height: 5px;
    background-color: #00b5ad;
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
}


.special-content {
    background: url('../img/special-content-back.jpg');
    padding: 100px 0;
}

.special-content-container {
    max-width: 1400px;
    margin: 0 auto; 
}


.footer {
    background: #141414;
    padding: 100px 0;
}