
.header {
    position: relative;
    background: url('../img/special-header-back.jpg') no-repeat;
    background-size: cover;
    height: 580px;

}

.header::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 40%;
    width: 60%;
    height: 100%;
    background: url('../img/products-banner.png');
    background-size: contain;
    opacity: 0.4;
}

.header-title {
    max-width: none;
}

.header-title h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 98%;
    letter-spacing: 0.14em;
    color: #fff;
}

.header-content {
    padding: 0;
}

.header-content span {
    width: 120px;
    height: 5px;
    background-color: #00b5ad;
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
}


.special-content {
    position: relative;
    background: url('../img/special-content-back.jpg') no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.special-content-container {
    max-width: 1400px;
    margin: 0 auto; 
}

.special-content p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;
    color: #ffffff;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer {
    background: #141414;
    padding: 100px 0;
}

.grid-item { width: 200px; }

.grid-item-image {
    margin-bottom: 10px;
}
