
.header {
    position: relative;
    background: url('../img/sub-products-header.jpeg') no-repeat;
    background-size: cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 40%;
    width: 60%;
    height: 100%;
    background: url('../img/products-banner.png');
    background-size: contain;
    opacity: 0.4;
}

.standard {
    background: #141414;
    background-size: cover;
    position: sticky;
    top: -1px;
}

.concrete {
    background: url('../img/about-concrete.jpg');
    background-size: cover;
}

p {
    padding-right: 20px;
}
    
.standard-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 150px 0 100px 0;
}

.standard-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}


.standard-content-title {
    position: relative;
    max-width: 200px;
}

.standard-content-title h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 118.5%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    
    color: #A9A8A5;
}

.barra {
    width: 120px;
    height: 5px;
    position: absolute;
    background-color: #00b5ad;
    display: block;
    top: -20px;
    left: 0;
    z-index: 1;
}

.standard-content-images img {
    width: 460px;
    height: 290px;
    padding: 0 100px 0 0;
}

.blue {
    color: #00B5AD;
}