@font-face {
    font-family: 'Chakra Petch';
    src: url("../fonts/ChakraPetch-Regular.ttf");
}

/*Global configs*/
body {
    max-width: 100%;
    margin: 0 auto;
}

button {
    text-decoration: none;
    background: none;
    border: none
}

button:hover {
    cursor: pointer;
}

.header {
    position: relative;
    background: url('../img/header-back.png') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/vetor.svg') no-repeat;
    background-position-y: top;
}


.header-container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

.header-title {
    max-width: 440px;
}

.header-logo {
    padding-left: 40px;
}

.header-title p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 99.5%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-title h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98.5%;
    color: #00B5AD;
    
    margin-top: 20px;
}


/*About*/
.about {
    position: relative;
    background: url('../img/about-concrete.jpg') no-repeat;
    background-size: cover;
    height: 600px;
}

.about::before {
    content: "Os nossos projetos";
    position: absolute;
    right: 0;
    bottom: -100px;
    width: 675px;

    
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 85.5%;
    text-transform: uppercase;

    -webkit-text-stroke: 1px #ffffff;
    color: transparent;

    mix-blend-mode: normal;
    opacity: 0.2;
    z-index: 1;
}

.about-container {
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    padding-top: 125px;
}

.about-content {
    max-width: 645px;
}

.about-content span {
    width: 120px;
    height: 5px;
    background-color: #00b5ad;
    display: block;
    margin-top: 75px;
    margin-bottom: 20px;
}

.about-content h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 154.5%;
    letter-spacing: 0.14em;
    text-transform: uppercase;

    color: #A9A8A5;
}

.about-content p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;
    text-transform: uppercase;

    color: #FFFFFF;
}

/*Solutions*/
.solutions {
    position: relative;
    background: url('../img/solutions-back.jpg') no-repeat;
    background-size: cover;
    height: 825px;
}

.solutions-container {
    max-width: 1400px;
    margin: 0 auto;
}

.solutions-container h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 108.5%;

    color: #FFFFFF;

    padding-top: 250px;
    text-align: center;
}

.solutions-tasks {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.solutions-task {
    padding: 0 30px;
}

.solutions-task h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 154.5%;
    text-transform: uppercase;

    padding-top: 15px;
}

/*Bottom page*/
.bottom-page {
    position: relative;
    background: #141414;
    height: 1450px;
}

.our-solutions {
    height: 985px;
}

.our-solutions-container {
    position: relative;
    z-index: 1;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 200px;
}

.our-solutions-title {
    display: flex;
    justify-content: space-between;
}

.our-solutions-arrows a {
    padding: 0 10px;
}

.our-solutions h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 154.5%;
    letter-spacing: 0.14em;

    color: #A9A8A5;
}

.our-solutions-grid {
    max-width: 2000px;
}

.our-solutions-grid a {
    text-decoration: none;
}

.our-solutions-card {
    position: relative;
    width: 425px;
    height: 500px !important;
    background: url('../img/card-back.jpg') no-repeat;
    background-size: cover;
    padding: 20px;

}
.our-solutions-card .our-solutions-card-more {
    display: none;
}

.our-solutions-card:hover .our-solutions-card-more {
   display: flex;
   align-items: center;
   position: absolute;
   top: 70%;
   left: -20%;
}

.our-solutions-card-more {
    background: #00B5AD;
    width: 170px;
    height: 65px;
    padding: 30px;

    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 154.5%;
    text-transform: uppercase;

    color: #FFFFFF;
    z-index: 10;
}


.our-solutions-card h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 98%;
    letter-spacing: 0.14em;
}

.our-solutions-card-img {
    position: absolute;
    bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.our-solutions-card-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.arrow-right img {
    transform: rotate(180deg);
}

/*Footer*/
.footer {
    position: relative;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-element {
    display: flex;
    justify-content: space-between;
}

.footer-top-element:last-child {
    width: 50%;
    padding-top: 20px;
}

.footer-subelement p {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;

    color: #FFFFFF;
}

.footer-top h2 {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 154.5%;
    letter-spacing: 0.14em;

    color: #00B5AD;

    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-element:first-child {
    display: flex;
}

.footer-bottom-element:last-child {
    display: flex;
    align-items: center;
}

.footer-bottom-element-column {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.footer-bottom-element a {
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    text-transform: uppercase;

    color: #00B5AD;
}

.bottom-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/our-solutions-building.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
    mix-blend-mode: color-dodge;
}


/*Menu*/
.menu {
    background-color: #00B5AD;
    display: none;
}

.active {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.menu-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.menu-close p {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 154.5%;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 5px;
}

.menu-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-options li {
    padding: 10px 15px;
}

.menu-container a {
    font-family: 'Chakra Petch';
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.14em;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}

.menu-container a:hover {
    text-decoration: underline;
}

.solutions-task {
	float: left;
	opacity: 0;
	animation: fadeIn 1s ease-in both;
}

.solutions-task :nth-child(2) {
	animation-delay: 2s;
}
.solutions-task :nth-child(3) {
	animation-delay: 3s;
}
.solutions-task :nth-child(4) {
	animation-delay: 4s;
}

@keyframes fadeIn {
	from {
		opacity: 0; 
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.grid-item {
    margin-bottom: 10px;
}

.slick-slide {
    margin: 0 10px;
}